button {
  background: transparent;
}

a {
  @include animation(all, $animationTime);
  @include hover-focus {
    color: $color-main;
    text-decoration: none;
  }
}

.btn {
  display: inline-block;
  font-family: $font-body;
  @include border-radius(30px);
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 13px;
  line-height: 13px;

  @include hover-focus {
    outline: none;
    text-decoration: none;
  }
}

.btn-main {
  background-color: $color-sec;
  color: #fff;
  font-weight: 300;
  border: 1px solid $color-sec;
  @include animation(all, $animationTime);
  @include hover-focus {
    background: $color-main;
    border-color: $color-main;
    color: #fff;
  }
}

.btn-important {
  background-color: $color-main;
  color: #fff;
  font-weight: 300;
  border: 1px solid $color-main;
  @include animation(all, $animationTime);
  @include hover-focus {
    background: $color-sec;
    border-color: $color-sec;
    color: #fff;
  }
}

.btn-default {
  background-color: transparent;
  color: #303030;
  border: 1px solid #c1c1c1;
  font-weight: 300;
  @include animation(all, $animationTime);
  @include hover-focus {
    background: transparent;
    color: $color-main;
    border-color: $color-main;
  }
}

.btn-white {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 300;
  padding: 15px 35px;
  @include animation(all, $animationTime);
  @include hover-focus {
    color: $color-sec;
    background-color: #fff;
    border-color: #fff;
  }
}

.btn-square-icon {
  padding: 6px 8px;
  background: #c1c1c1;
  border-radius: 0;
  @include animation(all, $animationTime);

  .fa {
    font-size: 24px;
    color: #fff;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

