.card {
  font-family: $font-body;
  .card-title {
    margin-top: 0;
    line-height: 1.4;
    font-size: 30px;
  }

  .card-tb {
    font-size: 15px;
    line-height: 1.6;
  }
}


.card-image-background-wrapper {
  display: table-row;
  table-layout: fixed;
}

.card-image-background {
  display: table-cell;
  float: none!important;
  height: 100%;
  position: relative;
  font-family: $font-body;
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;

  .card-shade {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #323546;
    z-index: 1;
    opacity: 0.7;
    @include animation(all, $animationTime);
  }

  &:hover {
    .card-shade {
      opacity: 0.9;
    }
  }

  .card-content-wrapper {
    padding: 70px 30px 90px 30px;
  }

  .card-background {
  }

  * {
    position: relative;
    z-index: 2;
  }

  .card-title {
    color: #fff;
    margin-bottom: 32px;
  }

  .card-tb {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
  }

  .btn-white {
    margin-top: 50px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .card-title,
    .card-tb {
      max-width: 65%;
    }
  }
}

.card-news {
  .card-img-holder {
    width: 100%;
    height: 140px;
  }

  label,
  .card-text {
    padding: 5px 15px;
  }

  label {
    font-size: 12px;
  }

  .card-title {
    font-size: 16px;
    line-height: 1.4;
    color: #303030;
    margin-top: 10px;
  }

  .tb {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.6;
    color: #8d8d8d;
    text-align: justify;

    @media (max-width: 991px) {
      text-align: left;
    }
  }

  .truncate {
    height: 90px;
  }

  .text-main {
    color: $color-sec;
  }
}

@media (max-width: 991px) {
  .card-image-background-wrapper {
    display: block;
    margin: 0 -15px;
    border-spacing: 0;

    .card-image-background {
      display: block;
      margin: 20px 0;
    }
  }
}