.form-underlined-inputs {
  font-family: $font-body;

  .form-group-input {
    margin: 15px 0 10px 0;
  }

  .form-control {
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #303030;
    font-size: 16px;
    padding-bottom: 2px;
    @include animation(all, $animationTime);
    
    @include placeholder {
      color: #303030;
      font-size: 16px;
    }

    &:focus {
      border-color: $color-sec;
    }
  }

  textarea.form-control {
    margin-top: 20px!important;
    height: auto;
    resize: vertical
  }

  .form-footer {
    margin-top: 40px;

    .alert-success {
      background: none;
      color: $color-sec;
      margin: 0;
    }

    .btn {
      margin-top: 20px;
    }
  }

  .form-group-input {
    .error-message {
      display: none;
    }

    &.has-error {
      .form-control {
        border-color: $color-main;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      .error-message {
        display: inline-block;
        margin-top: 6px;
        color: $color-main;
      }
    }
  }
}



@media (max-width: 767px) {
  .form-underlined-inputs {
    .form-group {
      margin: 0;

      &.form-footer {
        margin-top: 20px;
      }
    }

    textarea.form-control {
      margin-top: 0px !important;
    }
  }
}


.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #cbcbcb;
}

.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #4c5865;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #4c5865;
  border: 2px solid #4c5865;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

