.header-imaged {
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 260px;

  .header-overlay {
    position: absolute;
    bottom:0;
    left: 0;
    height: 260px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+98,ffffff+100&0.91+18,0.55+38,0+55 */
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 44%, rgba(255,255,255,0.99) 45%, rgba(255,255,255,0.55) 58%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 98%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 44%, rgba(255,255,255,0.99) 45%,rgba(255,255,255,0.55) 58%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(255,255,255,1) 44%, rgba(255,255,255,0.99) 45%,rgba(255,255,255,0.55) 58%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 2;
  }

  .header-content {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    z-index: 3;

    .header {
      //margin-top: 220px;
      margin-bottom: 30px;
      padding: 0;
      max-width: 45%;
      text-align: left;
      line-height: 1.2;
    }
  }
}


@media (max-width: 767px) {
  .header-imaged {
    .header-overlay {
      position: absolute;
      bottom:0;
      left: 0;
      height: 260px;
      width: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+98,ffffff+100&0.91+18,0.55+38,0+55 */
      background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 48%, rgba(255,255,255,0.99) 49%, rgba(255,255,255,0.55) 58%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 98%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 48%, rgba(255,255,255,0.99) 49%,rgba(255,255,255,0.55) 58%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, rgba(255,255,255,1) 48%, rgba(255,255,255,0.99) 49%,rgba(255,255,255,0.55) 58%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      z-index: 2;
    }

    .header-content {
      .header {
        max-width: 50%;
      }
    }
  }
}