.hero-animation {
  #hand1 {
    width: 240px;
    height: 500px;
    position: absolute;
    top:-450px;
    left: 50%;
    @include transform(translateX(-50%));

    #hand1-wrapper {
      @include transform(translateX(-50%));

      position: absolute;
      top:0;
      left: 0;

      -webkit-animation: float 12s infinite; /* Safari 4.0 - 8.0 */
      animation: float 12s infinite;
    }

    #hand1-part1 {
      max-height: 500px;
      z-index: 2;
    }

    #hand1-part2 {
      max-height: 170px;
      position: absolute;
      top: 235px;
      left: 61px;
      z-index: -1;
    }

    #cord {
      position: absolute;
      top: -800px;
      left: -500px;
      height: 100%;
      width: auto;
      z-index: -1;
      //opacity: 0;
      //@include animation(all, 1.5s);

      &.visible {
        opacity: 1;
      }
    }
  }

  #hand2 {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -350px;
    @include animation(all, $animationTime);

    .img-responsive {
      max-width: 700px;
      position: absolute;
      bottom:0;
      right:0;
      @include animation(all, $animationTime);
      -webkit-animation: float 20s infinite; /* Safari 4.0 - 8.0 */
      animation: float 20s infinite;
    }

  }

  @media (max-width: 991px) {
    #hand1 {
      width: 124px;
      height: 500px;
      top: -300px;
      left: 55%;

      #hand1-wrapper {
        top: 11px;
        left: -36px;
      }

      #hand1-part1 {
        max-height: 260px;
      }

      #hand1-part2 {
        max-height: 90px;
        top: 121px;
        left: 30px;
      }

      #cord {
        position: absolute;
        top: -10px;
        left: -75px;
      }
    }

    #hand2 {
      width: 50%;
      position: absolute;
      right: -220px;
      bottom: auto;
      //bottom: -350px;
      top: 280px;

      .img-responsive {
        max-width: 346px;
        //bottom:0;
        bottom:auto;
        top: 0;
        right:-147px;
      }
    }
  }


  @media (min-width: 768px) and (max-width: 991px) {
    #hand1 {
      @include transform(translateX(0));
    }

    #hand2 {
      margin-top: 80px;
    }
  }

}


@-webkit-keyframes float {
  0%   {
    transform: translate(0%,0%);
  }

  25%  {
    transform: translate(-2%,-1%);
  }

  50%  {
    transform: translate(0%,-0%);
  }

  80%  {
    transform: translate(-1%,1%);
  }

  100% {
    transform: translate(0%,0%);
  }
}

@keyframes float {
  0%   {
    transform: translate(0%,0%);
  }

  25%  {
    transform: translate(-2%,-1%);
  }

  50%  {
    transform: translate(0%,0%);
  }

  80%  {
    transform: translate(-1%,1%);
  }

  100% {
    transform: translate(0%,0%);
  }
}