.lightbox {
  font-family: $font-body;

  .lb-outerContainer {
    //background: transparent;
    border-radius: 0;
  }

  .lb-image {
    border-radius: 0;
    border: none;
  }

  .lb-close {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 100%;
    line-height: 50px;
    background: $color-main;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    position: relative;
    margin-right: -4px;

    &:after {
      content: 'x';
      font-family: $font-body;
      color: #fff;
      font-size: 18px;
      line-height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
    }

    @include hover-focus {
      background: $color-sec;
    }

    @media (max-width: 767px) {
      width: 35px;
      height: 35px;
      line-height: 35px;
      margin-right: -2px;

      &:after {
        font-size: 15px;
        line-height: 35px;
      }
    }
  }

  .lb-nav {
    a.lb-next {
      background-image: url('../img/arrow-right.png');
      background-size: 24px;
      background-position: right 15px center;
    }

    a.lb-prev {
      background-image: url('../img/arrow-left.png');
      background-size: 24px;
      background-position: left 15px center;
    }

    @media (max-width: 767px) {
      a.lb-next {
        background-size: 16px;
        background-position: right 10px center;
      }

      a.lb-prev {
        background-size: 16px;
        background-position: left 10px center;
      }
    }
  }

  .lb-dataContainer {
    display: block;
    width: 740px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1!important;

    @media (max-width: 767px) {
      top: -55px;
    }

    .lb-number {
      position: absolute;
      bottom: 0;
      padding: 0;
    }
  }
}