.list-slashed {
  list-style: none;

  > li {
    display: inline-block;
    margin: 0;
  }

  > li + li {
    position: relative;

    &:before {
      content: '/';
      margin-right: 1px;
    }
  }
}

.list-ticked,
.list-ticked ul {
  list-style: none;
  text-align: left;

  > li {
    position: relative;
    padding: 6px 10px 10px 30px;
    font-size: 16px;
    color: #7a7a7a;
    font-family: $font-body;
    font-weight: 300;
    line-height: 1.4;

    &:before {
      content: '';
      width: 12px;
      height: 7px;
      border-bottom: 3px solid $color-main;
      border-left: 3px solid $color-main;
      @include transform(rotate(-45deg));
      position: absolute;
      left:0;
      top:10px;
    }
  }
}
