.map-wrapper {
  position: relative;
  height: 650px;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;

  .gm-svpc {
    display: none;
  }
  .gm-bundled-control {
    bottom: auto;
    top: 80px;
    right: 30px;

    .gmnoprint {
      left: -35px!important;
      top: 90px!important;
    }
  }
}

#map {
  height: 800px;
  width: 100%;
  position: absolute;
  top: -20px;
  //-webkit-transform: translatey(-50%);
  //-moz-transform: translatey(-50%);
  //-ms-transform: translatey(-50%);
  //-o-transform: translatey(-50%);
  //transform: translatey(-50%);

  > div {
    background-color: #1d242e!important;
  }
}
