.modal-backdrop {
  background-color: #fff;
}

.modal-popup {

  .modal-dialog {
    margin-top: 120px;
  }

  .modal-content {
    border-radius: 0;
    border: none;
    padding: 30px;
  }

  .modal-content-wrapper {
    max-width: 1000px;
    margin: auto;
  }

  .modal-body {
    padding: 0 ;
    text-align: justify;

    @media (max-width: 991px) {
      text-align: left;
    }

  }

  .modal-header {
    text-align: left;
    position: relative;
    //padding-bottom: 24px;
    margin-bottom: 30px;
    padding: 0 15px;

    h2 {
      font-size: 40px;

      @media (max-width: 991px) {
        font-size: 32px;
      }
    }
  }

  .close {
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    right:42px;
    top:40px;
    color: $color-main;
    z-index: 10;
  }

  .modal-header, .modal-footer {
    border: 0;
  }

  .modal-footer {
    text-align: center;
    margin-top: 50px;
    .close {
      position: relative;
      color: #303030;
      font-size: 13px;
      right: auto;
      top: auto;
      display: inline-block;
      float: none;

      @include animation(all, $animationTime);
      @include hover-focus {
        color: $color-main;
      }

      p {
        margin: 0 6px;
        display: inline-block;
      }

      .fa {
        color: $color-main;
      }
    }
  }
}


.modal.in {
  display: block!important;
}

.pagelike-modal {
  background: #fff;
  //min-height: 100vh;
  //overflow-y: auto;

  .modal-dialog {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .modal-content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-bottom: 90px;
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    position: relative;
    padding-top: 160px;

    @media (max-width: 991px) {
      padding: 100px 20px 70px 20px;
    }

    @media (max-width: 767px) {
      padding: 100px 0px 70px 0px;
    }
  }

  .modal-content-wrapper {
    max-width: 1000px;
    margin: auto;
  }

  .modal-body {
    padding: 0 ;
    text-align: justify;
    font-size: 17px;

    @media (max-width: 991px) {
      text-align: left;
    }
  }

  .modal-header {
    text-align: left;
    position: relative;
    //padding-bottom: 24px;
    margin-bottom: 30px;
    padding: 0 15px;

    h2 {
      font-size: 40px;

      @media (max-width: 991px) {
        font-size: 32px;
      }
    }
  }

  .close {
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    right:42px;
    top:40px;
    color: $color-main;
    z-index: 10;
  }

  .modal-header, .modal-footer {
    border: 0;
  }

  .modal-footer {
    text-align: center;
    margin-top: 50px;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background: #fff;

    .close {
      position: relative;
      color: #303030;
      font-size: 13px;
      right: auto;
      top: auto;
      display: inline-block;
      float: none;

      @include animation(all, $animationTime);
      @include hover-focus {
        color: $color-main;
      }

      p {
        margin: 0 6px;
        display: inline-block;
      }

      .fa {
        color: $color-main;
      }
    }
  }
}

#newsModal {
  .modal-content-wrapper {
    max-width: none;

    .modal-header,
    .inner-wrapper {
      max-width: 1000px;
      margin: auto;
    }

    .modal-header {
      .header-2 {
        margin-bottom: 4px;
      }
    }

    .news-img {
      margin: 40px auto 50px auto;

    }
    
    .text-main {
      color: $color-sec;
    }

    .modal-body-text {
      font-weight: 600;

      p {
        &:first-of-type {
          margin-top: 24px;
        }
      }


      *:not(b):not(h1):not(h2):not(h3):not(h4){
        font-weight: 300;
      }
    }

  }
}

#aboutModal {
  .list-ticked {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {

  .search-modal {
    .modal-dialog {
      height: 100%;
      width: 100%;
      margin: 0;
    }

    .modal-content {
      width: 100%;
      padding: 20px;

      .form-control {
        font-size: 16px;

        @include placeholder {
          font-size: 16px;
        }
      }

    }

    .search-legend {
      display: none;
      .list-inline {
        margin-bottom: 10px;
        text-align: left;
      }
      margin-bottom: -10px;
    }

    .modal-footer {
      width: 100%;
      padding: 0 20px;
    }
  }
}
.ipHasAdminNavbar {
  #solutionModal2 {
    .modal-dialog {
      &.modal-lg {
        margin-top: 148px;
      }
    }
  }
  #solutionModal1 {
    .modal-dialog {
      &.modal-lg {
        margin-top: 148px;
      }
    }
  }
  #solutionModal3 {
    .modal-dialog {
      &.modal-lg {
        margin-top: 148px;
      }
    }
  }

  #newsModalTitle {
    margin-top: 148px;
  }

  #aboutModal{
    margin-top: 148px;
  }
}

.modal-content-wrapper {
  ul {
    margin-left: 16px;
  }

  ol {
    margin-left: 18px;
  }
}
