.noSwiping {
  .swiper-pagination {
    display: none;
  }
}


#swiper-main.swiper-container {
  width: 100%;
  height: 420px;

  .swiper-slide {
    //width: 100%;
    height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 120px;

    &:after {
      content: '';
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.45;
      z-index: 1;
    }

    * {
      z-index: 2;
    }

    .slide-content {
      position: absolute;
      left: 120px;
      top: 50%;
      @include transform(translateY(-50%));

      .tb {
        font-weight: 100;
      }
    }
  }

  @media (max-width: 767px) {
    height: 480px;

    .swiper-slide {
      height: 480px;
      padding: 20px 40px;

      .slide-content {
        position: relative;
        left: auto;
        top: auto;
        @include transform(translateY(0));
      }
    }
  }

}

.swiper-container.swiper-arrowed {
  .swiper-nav-btn {
    background: none;
    position: absolute;
    top: 50%;
    height: 16px;
    width: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: -8px;

    &.swiper-button-next {
      background-image: url("../img/arrow-white.png");
      @include transform(rotate(180deg));
      right: 30px;
    }

    &.swiper-button-prev {
      background-image: url("../img/arrow-white.png");
      left: 30px;
    }


    @media (max-width: 767px) {
      width: 20px;

      &.swiper-button-next {
        right: 10px;
      }

      &.swiper-button-prev {
        left: 10px;
      }
    }
  }
}

.swiper-container.swiper-fadedout {
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-bottom: 70px;

  .swiper-slide {
    @include animation(all, $animationTime);
  }

  @media (min-width: 992px) {
    .swiper-slide {
      opacity: 0;
      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }

  @media (max-width: 991px) {
    padding-right: 40px;
    padding-left: 40px;
    //width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;

    .swiper-wrapper {
      //overflow: hidden;
      box-sizing: border-box;
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      border-radius: 0;
      width: 20px;
      height: 2px;
      opacity: 1;
      background: #c1c1c1;

      &.swiper-pagination-bullet-active {
        background: $color-main;
      }
    }
  }

  @media (max-width: 991px) {
    &.full-width {
      padding-right: 0!important;
      padding-left: 0!important;
      .swiper-news-arrow {
        display: none;
      }
    }


    padding-right: 34px;
    padding-left: 34px;
    padding-bottom: 50px;

    .swiper-news-arrow-modal,
    .swiper-news-arrow {
      margin: 0;
      background-size: 17px 30px;
      opacity: 1!important;

      &.swiper-button-disabled {
        &:after {
          opacity: 0.35;
        }
      }

      &.swiper-button-prev {
        width: 34px;
        height: 100%;
        top: 0;
        left: 0;
        background: #FFF;
        &:after {
          content: '';
          background-image: url('../img/arrow-left.png');
          background-position: left;
          width: 16px;
          height: 30px;
          background-size: cover;
          position: absolute;
          top: 50%;
          @include transform(translateY(-50%));
          left: 6px;
        }
      }
      &.swiper-button-next {
        width: 34px;
        height: 100%;
        top: 0;
        right: 0;
        background: #FFF;

        &:after {
          content: '';
          background-image: url('../img/arrow-right.png');
          background-position: right;
          width: 16px;
          height: 30px;
          background-size: cover;
          position: absolute;
          top: 50%;
          @include transform(translateY(-50%));
          right: 6px;
        }
      }
    }

    .swiper-news-arrow-modal {
      &.swiper-button-prev,
      &.swiper-button-next {
        background-position: center;
      }
    }
  }

  @media (min-width: 992px) {
    width: 70%;
    overflow: visible;

    &.full-width {
      width: 100%;

      &#swiper-news-modal {
        max-width: 1000px;
      }
    }

    .swiper-news-arrow-modal,
    .swiper-news-arrow {
      display: none;
    }

    .swiper-slide {
      opacity: 0.5;

      &.swiper-slide-active {
        opacity: 1;
      }

      &.swiper-slide-active + .swiper-slide{
        opacity: 1;
      }

      &.swiper-slide-active + .swiper-slide + .swiper-slide {
        opacity: 1;
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 50px;
      }
    }
  }

  @media (min-width: 461px) and (max-width: 991px) {
    .swiper-slide {
      &.swiper-slide-active {
        opacity: 1;
      }

      &.swiper-slide-active + .swiper-slide{
        opacity: 1;
      }
    }
  }

  @media (max-width: 460px) {
    .swiper-slide {
      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }

}