.custom-tabs {

  .nav.nav-tabs {
    > li {

      > a {
        font-family: $font-body;
        padding: 0;
        width: auto;
        text-align: center;
        margin-top: auto;
        position: relative;
        font-weight: 400;
        color: #000;
        border: none;

        @include hover-focus{
          background: transparent;
        }
      }

      &.active {
        a {
          color: $color-main;
          border: none;
        }
      }
    }
  }

  .tab-pane {

    .tab-header {
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-main;
      margin-bottom: 10px;
      margin-top: 18px;
    }

    &.active {
      padding: 40px 0 0 0;
    }
  }
}


@media (min-width: 768px) {
  .custom-tabs {
    .nav.nav-tabs {
      display: table;
      //width: 100%;
      border: none;
      margin: 40px auto 0 auto;

      > li + li {
        padding-left: 120px;
      }

      > li {
        display: table-cell;
        float: none;
        border-bottom: 1px solid #c0c0c0;
        padding: 0;

        a {
          display: inline-block;
          width: auto;
          border-bottom: 1px solid #c0c0c0;
          margin-bottom: -1px;
          padding-bottom: 16px;
          @include animation(all, $animationTime);
          max-width: 180px;

          @include hover-focus {
            border-bottom: 1px solid $color-main;
          }
        }

        &.active {
          a {
            border: none;
            border-bottom: 1px solid $color-main;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .custom-tabs {
    .nav.nav-tabs {
      border: none;

      > li {
        display: block;
        width: 100%;

        > a {
          padding: 6px;
        }
      }
    }
  }
}

