
@mixin animation($attr, $time) {
  -webkit-transition: $attr $time;
  -moz-transition: $attr $time;
  -ms-transition: $attr $time;
  -o-transition: $attr $time;
  transition: $attr $time;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin transform($transformations) {
  -webkit-transform: $transformations;
  -moz-transform: $transformations;
  -ms-transform: $transformations;
  -o-transform: $transformations;
  transform: $transformations;
}

@mixin border-radius($radiusPx) {
  -webkit-border-radius: $radiusPx;
  -moz-border-radius: $radiusPx;
  border-radius: $radiusPx;
}

@mixin hover-focus {
  &:hover,
  &:focus,
  &:hover:active {@content}
}

@mixin headings($from: 1, $to: 6){
  @for $i from $from through $to{
    h#{$i}{
      @content
    }
  }
}


@mixin bordered($color) {
  padding: 12px;
  border: 6px solid $color;
}

@mixin dash-right($width, $height, $color) {
  content: '';
  height: $height;
  width: $width;
  background-color: $color;
  position: absolute;
  top: 50%;
  right: -4px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin dash-left($width, $height, $color) {
  content: '';
  height: $height;
  width: $width;
  background-color: $color;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
