$font-body: 'Avenir', sans-serif;
$font-bold: 'Avenir', sans-serif;

$animationTime: .5s;

$color-main: #d9251d;
$color-sec: #4c5865;
$color-text-main: #303030;

$collapsed-not-min: 768px;
$collapsed-max: 767px;