@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.otf') format('opentype'),
    url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.ttf') format('truetype'),
    url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.otf') format('opentype'),
    url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf') format('truetype'),
    url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}


/*@font-face {*/
    /*font-family: 'AvenirNextCyr-Bold';*/
    /*src: url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.otf') format('opentype'),*/
    /*url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff') format('woff'),*/
    /*url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf') format('truetype'),*/
    /*url('../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');*/
    /*font-weight: 900;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'AvenirNextCyr-Demi';*/
    /*src: url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.otf') format('opentype'),*/
    /*url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff') format('woff'),*/
    /*url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf') format('truetype'),*/
    /*url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');*/
    /*font-weight: 700;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'AvenirNextCyr-Heavy';*/
    /*src: url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.otf') format('opentype'),*/
    /*url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.woff') format('woff'),*/
    /*url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.ttf') format('truetype'),*/
    /*url('../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy') format('svg');*/
    /*font-weight: 800;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'AvenirNextCyr-Light';*/
    /*src: url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.otf') format('opentype'),*/
    /*url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.woff') format('woff'),*/
    /*url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.ttf') format('truetype'),*/
    /*url('../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg');*/
    /*font-weight: 200;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'AvenirNextCyr-Medium';*/
    /*src: url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.otf') format('opentype'),*/
    /*url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.woff') format('woff'),*/
    /*url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.ttf') format('truetype'),*/
    /*url('../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'AvenirNextCyr-Regular';*/
    /*src: url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.otf') format('opentype'),*/
    /*url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff') format('woff'),*/
    /*url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.ttf') format('truetype'),*/
    /*url('../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');*/
    /*font-weight: 300;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'AvenirNextCyr-Thin';*/
    /*src: url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.otf') format('opentype'),*/
    /*url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.woff') format('woff'),*/
    /*url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.ttf') format('truetype'),*/
    /*url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin') format('svg');*/
    /*font-weight: 100;*/
    /*font-style: normal;*/
/*}*/