@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.otf") format("opentype"), url("../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.woff") format("woff"), url("../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.ttf") format("truetype"), url("../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.otf") format("opentype"), url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf") format("truetype"), url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi") format("svg");
  font-weight: 600;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #fff; }

img {
  border: 0; }

a img, a:visited img {
  border: none; }

:focus {
  outline: 0; }

body {
  font-family: "Avenir", sans-serif; }

a {
  color: inherit; }
  a:focus {
    outline: none; }

a.text-main:hover, a.text-main:focus {
  color: #c3211a; }

a.disabled-link {
  cursor: default !important; }
  a.disabled-link:hover, a.disabled-link:focus {
    color: inherit !important; }

.text-main {
  color: #d9251d; }

.text-dark {
  color: #303030; }

.text-lighter {
  color: #747474; }

.text-white {
  color: #fff; }

.text-thin {
  font-weight: 300 !important; }

.text-bold {
  font-weight: 600; }

.tb {
  line-height: 1.8; }

.tb-intro {
  font-size: 17px;
  margin-top: 26px;
  padding-right: 20px;
  color: #929292; }

.tb-narrow {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

.tb-highlights {
  color: #999999; }
  .tb-highlights b {
    color: #d9251d; }

.tb-iconned {
  font-size: 17px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 50px;
  text-align: left;
  position: relative;
  display: inline-block; }
  .tb-iconned:before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    height: 48px;
    width: 35px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .tb-iconned p {
    margin: 0; }
  .tb-iconned.tb-address:before {
    background-image: url("../img/pin-icon.png"); }
  .tb-iconned.tb-phone:before {
    background-image: url("../img/phone-icon.png"); }
  .tb-iconned.tb-email:before {
    background-image: url("../img/mail-icon.png"); }
  .tb-iconned.tb-linkedin:before {
    background-image: url("../img/in-icon.png"); }

.tb-spacedout p + p {
  margin-top: 24px; }

.header-1,
.header-2,
.header-3 {
  font-family: "Avenir", sans-serif;
  font-weight: 400; }

.header-1 {
  font-size: 50px; }
  @media (max-width: 767px) {
    .header-1 {
      font-size: 40px; } }

.header-2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.6; }
  @media (max-width: 767px) {
    .header-2 {
      font-size: 32px;
      line-height: 1.3; } }

.header-3 {
  font-size: 30px; }

.header-4 {
  font-size: 20px; }

.concat {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 70px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media (max-width: 767px) {
    .concat {
      height: 110px; } }

.no-break {
  white-space: nowrap; }

body.modal-open {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.safety-wrapper {
  max-width: 1400px;
  margin: auto;
  position: relative;
  padding: 0;
  overflow: hidden; }

.paddless {
  padding: 0; }

.container-fluid {
  overflow-x: hidden; }

.valign {
  display: inline-block;
  vertical-align: middle; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.section-framed {
  border-left: 40px solid #fff;
  border-right: 40px solid #fff;
  padding: 20px 0 40px 0; }
  @media (max-width: 991px) {
    .section-framed {
      padding: 10px 0 20px 0; } }
  @media (max-width: 767px) {
    .section-framed {
      padding: 10px 15px 20px 15px;
      border-left: none;
      border-right: none; } }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-80 {
  margin-top: 80px; }

.mt-120 {
  margin-top: 120px; }

.row-valigned {
  font-size: 0; }
  .row-valigned [class^='col'] {
    display: inline-block;
    vertical-align: middle;
    float: none !important; }

.row-inlined {
  font-size: 0; }
  .row-inlined .col-inline {
    display: inline-block;
    float: none !important; }
  .row-inlined.row-inlined-middle .col-inline {
    vertical-align: middle; }

.margin-b20 {
  margin-bottom: 20px; }

.margin-t45 {
  margin-top: 45px; }

.margin-t100 {
  margin-top: 100px; }

.modal-backdrop.in {
  display: none; }

.col-900 {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto; }

.same-height-grid {
  margin-left: -40px;
  margin-right: -40px; }
  .same-height-grid .row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate; }
  .same-height-grid .col-height {
    display: table-cell;
    float: none;
    height: 100%; }
  .same-height-grid .col-top {
    vertical-align: top; }
  .same-height-grid .col-middle {
    vertical-align: middle; }
  .same-height-grid .col-bottom {
    vertical-align: bottom; }
  .same-height-grid .row-height + .row-height {
    margin-top: -20px; }
  @media (min-width: 768px) {
    .same-height-grid .card.grid-card {
      padding: 100px 60px;
      vertical-align: middle; } }
  .same-height-grid .card.grid-card.col-sm-height {
    height: 480px;
    position: relative; }
    .same-height-grid .card.grid-card.col-sm-height .card-content .card-tb {
      margin-top: 20px; }
      .same-height-grid .card.grid-card.col-sm-height .card-content .card-tb p {
        color: #8d8d8d; }
  @media (max-width: 767px) {
    .same-height-grid {
      display: table;
      margin-left: -15px;
      margin-right: -15px; }
      .same-height-grid .row-height {
        display: block;
        table-layout: initial;
        height: 100%;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse; }
        .same-height-grid .row-height .card.grid-card.col-sm-height {
          float: none;
          display: table-header-group;
          width: 100%; }
          .same-height-grid .row-height .card.grid-card.col-sm-height .card-content {
            padding: 20px; }
          .same-height-grid .row-height .card.grid-card.col-sm-height.bg-img {
            display: table-cell;
            height: 320px; }
      .same-height-grid .row-height + .row-height {
        margin-top: 15px; } }
  @media (min-width: 480px) {
    .same-height-grid .row-xs-height {
      display: table;
      table-layout: fixed;
      height: 100%;
      width: 100%; }
    .same-height-grid .col-xs-height {
      display: table-cell;
      float: none;
      height: 100%; }
    .same-height-grid .col-xs-top {
      vertical-align: top; }
    .same-height-grid .col-xs-middle {
      vertical-align: middle; }
    .same-height-grid .col-xs-bottom {
      vertical-align: bottom; } }
  @media (min-width: 768px) {
    .same-height-grid .row-sm-height {
      display: table;
      table-layout: fixed;
      height: 100%;
      width: 100%; }
    .same-height-grid .col-sm-height {
      display: table-cell;
      float: none;
      height: 100%; }
    .same-height-grid .col-sm-top {
      vertical-align: top; }
    .same-height-grid .col-sm-middle {
      vertical-align: middle; }
    .same-height-grid .col-sm-bottom {
      vertical-align: bottom; } }

.ipsAdminPanelContainer,
.ipsAdminNavbarContainer {
  z-index: 2501;
  position: relative; }

.ipHasAdminNavbar.ipHasAdminPanel .navbar.navbar-custom.affix-top,
.ipHasAdminNavbar.ipHasAdminPanel .navbar.navbar-custom.affix {
  top: 148px; }

.ipHasAdminNavbar.ipHasAdminPanel.modal-open .navbar.navbar-custom.affix-top,
.ipHasAdminNavbar.ipHasAdminPanel.modal-open .navbar.navbar-custom.affix {
  top: 148px; }

body.modalIsOpen .navbar.navbar-custom,
body.modalIsOpen .navbar.navbar-custom.affix {
  position: fixed;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
  body.modalIsOpen .navbar.navbar-custom .navbar-header,
  body.modalIsOpen .navbar.navbar-custom.affix .navbar-header {
    padding: 15px 0; }
    body.modalIsOpen .navbar.navbar-custom .navbar-header .navbar-brand,
    body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .navbar-brand {
      height: 65px;
      width: 180px; }
      body.modalIsOpen .navbar.navbar-custom .navbar-header .navbar-brand .brand-img,
      body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .navbar-brand .brand-img {
        height: 82px;
        margin-top: 3px; }
    body.modalIsOpen .navbar.navbar-custom .navbar-header .transform-group,
    body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .transform-group {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      left: 160px;
      top: -100%; }
  body.modalIsOpen .navbar.navbar-custom .nav.navbar-right,
  body.modalIsOpen .navbar.navbar-custom.affix .nav.navbar-right {
    right: 50px;
    top: 50%; }
    body.modalIsOpen .navbar.navbar-custom .nav.navbar-right .btn,
    body.modalIsOpen .navbar.navbar-custom.affix .nav.navbar-right .btn {
      margin-right: -50px;
      width: 50px;
      height: 50px;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden; }
      body.modalIsOpen .navbar.navbar-custom .nav.navbar-right .btn.btn-main,
      body.modalIsOpen .navbar.navbar-custom.affix .nav.navbar-right .btn.btn-main {
        min-width: 0; }
  body.modalIsOpen .navbar.navbar-custom .modal-close-wrapper,
  body.modalIsOpen .navbar.navbar-custom.affix .modal-close-wrapper {
    right: 0;
    top: 50%; }

.navbar.navbar-custom {
  border-radius: 0;
  border: none;
  font-family: "Avenir", sans-serif;
  font-size: 13px;
  background-color: transparent;
  color: #303030;
  padding: 36px 0 0 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-left: 40px solid #fff;
  border-right: 40px solid #fff;
  z-index: 2500;
  overflow: hidden; }
  .navbar.navbar-custom .container-fluid {
    padding: 0;
    overflow: hidden; }
  .navbar.navbar-custom.affix {
    position: fixed;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 2px 19px -2px rgba(184, 184, 184, 0.6);
    -moz-box-shadow: 0px 2px 19px -2px rgba(184, 184, 184, 0.6);
    box-shadow: 0px 2px 19px -2px rgba(184, 184, 184, 0.6); }
    .navbar.navbar-custom.affix .navbar-header {
      padding: 15px 0; }
      .navbar.navbar-custom.affix .navbar-header .navbar-brand {
        height: 65px;
        width: 180px; }
        .navbar.navbar-custom.affix .navbar-header .navbar-brand .brand-img {
          height: 82px;
          margin-top: 3px; }
      .navbar.navbar-custom.affix .navbar-header .transform-group {
        left: 160px;
        top: 50%; }
      .navbar.navbar-custom.affix .navbar-header .navbar-nav.navbar-right {
        top: 50%; }
    .navbar.navbar-custom.affix .modal-close-wrapper {
      top: 50%; }
  .navbar.navbar-custom .modal-close-wrapper {
    padding-top: 0; }
  .navbar.navbar-custom .navbar-header {
    width: 100%; }
  .navbar.navbar-custom .container-fluid {
    max-width: 1320px;
    left: 0; }
  .navbar.navbar-custom .navbar-brand {
    height: 101px;
    width: 85px;
    overflow: hidden;
    padding: 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .navbar.navbar-custom .navbar-brand .brand-img {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      height: 101px; }
    .navbar.navbar-custom .navbar-brand .brand-img-white {
      display: none; }
  .navbar.navbar-custom .transform-group {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 70px; }
  .navbar.navbar-custom .navbar-toggle {
    display: inline-block !important;
    float: none;
    border-radius: 0;
    border: none;
    background: none;
    padding-left: 5px;
    margin-left: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2; }
    .navbar.navbar-custom .navbar-toggle:focus, .navbar.navbar-custom .navbar-toggle:hover {
      background: none; }
    .navbar.navbar-custom .navbar-toggle .icon-bar {
      width: 20px;
      height: 2px;
      border-radius: 6px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      background: #d9251d; }
      .navbar.navbar-custom .navbar-toggle .icon-bar:nth-child(2) {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
      .navbar.navbar-custom .navbar-toggle .icon-bar:nth-child(4) {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
      .navbar.navbar-custom .navbar-toggle .icon-bar:nth-child(3) {
        display: block; }
    .navbar.navbar-custom .navbar-toggle:not(.collapsed) .icon-bar {
      background: #fff; }
      .navbar.navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        margin-top: 5px; }
      .navbar.navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -3px; }
      .navbar.navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
        float: left; }
    .navbar.navbar-custom .navbar-toggle p {
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 0;
      margin-left: 20px; }
    .navbar.navbar-custom .navbar-toggle:hover, .navbar.navbar-custom .navbar-toggle:focus, .navbar.navbar-custom .navbar-toggle:hover:active {
      color: #d9251d; }
  .navbar.navbar-custom #lang-select {
    margin-bottom: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .navbar.navbar-custom #lang-select a {
      color: #303030; }
    .navbar.navbar-custom #lang-select li:before {
      margin-right: 5px;
      margin-left: 1px;
      color: #303030; }
  .navbar.navbar-custom .nav.navbar-right > li {
    height: 50px; }
    .navbar.navbar-custom .nav.navbar-right > li > a {
      height: 50px;
      color: #303030;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .navbar.navbar-custom .nav.navbar-right > li > a:hover, .navbar.navbar-custom .nav.navbar-right > li > a:focus, .navbar.navbar-custom .nav.navbar-right > li > a:hover:active {
        color: #d9251d; }
  .navbar.navbar-custom .nav.navbar-right .btn {
    color: #fff;
    padding: 18px 40px;
    font-size: 13px;
    line-height: 13px;
    margin-left: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .navbar.navbar-custom .nav.navbar-right .btn:hover, .navbar.navbar-custom .nav.navbar-right .btn:focus, .navbar.navbar-custom .nav.navbar-right .btn:hover:active {
      background: #d9251d;
      color: #fff;
      border-color: #d9251d; }
    .navbar.navbar-custom .nav.navbar-right .btn.btn-main {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      min-width: 170px; }
  .navbar.navbar-custom .nav.navbar-right .tb-iconned {
    font-size: 13px;
    background-repeat: no-repeat;
    padding-left: 40px;
    text-align: left;
    position: relative;
    display: inline-block; }
    .navbar.navbar-custom .nav.navbar-right .tb-iconned:before {
      height: 50px;
      width: 22px; }
    .navbar.navbar-custom .nav.navbar-right .tb-iconned.tb-linkedin {
      padding-left: 36px;
      padding-right: 6px; }
      .navbar.navbar-custom .nav.navbar-right .tb-iconned.tb-linkedin:before {
        height: 50px;
        width: 16px; }
    .navbar.navbar-custom .nav.navbar-right .tb-iconned.tb-phone > a {
      padding: 0;
      height: 30px;
      line-height: 30px;
      display: inline-block; }
    .navbar.navbar-custom .nav.navbar-right .tb-iconned.tb-phone a + a {
      padding-left: 4px;
      position: relative; }
  .navbar.navbar-custom .nav.navbar-right {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    right: 0;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 15px; }
  .navbar.navbar-custom .modal-close-wrapper {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    right: -50px;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .navbar.navbar-custom .modal-close-wrapper > .btn {
      margin-top: 36px;
      width: 50px;
      height: 50px;
      padding: 0;
      border-radius: 100%;
      line-height: 50px;
      background: #d9251d;
      color: #fff;
      margin: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .navbar.navbar-custom .modal-close-wrapper > .btn:hover, .navbar.navbar-custom .modal-close-wrapper > .btn:focus, .navbar.navbar-custom .modal-close-wrapper > .btn:hover:active {
        background: #4c5865; }

@media (max-width: 991px) {
  .navbar.navbar-custom .navbar-toggle {
    margin-left: 30px;
    margin-right: 0; }
    .navbar.navbar-custom .navbar-toggle p {
      display: none; }
  .navbar.navbar-custom .nav.navbar-right .btn {
    margin-left: 10px; } }

@media (max-width: 860px) {
  body.modalIsOpen .navbar.navbar-custom .navbar-header,
  body.modalIsOpen .navbar.navbar-custom.affix .navbar-header {
    height: 65px;
    margin: 0;
    padding: 8px; }
    body.modalIsOpen .navbar.navbar-custom .navbar-header .navbar-brand,
    body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .navbar-brand {
      height: 65px; }
      body.modalIsOpen .navbar.navbar-custom .navbar-header .navbar-brand .brand-img,
      body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .navbar-brand .brand-img {
        height: 67px;
        margin-top: 7px; }
    body.modalIsOpen .navbar.navbar-custom .navbar-header .modal-close-wrapper,
    body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .modal-close-wrapper {
      right: -2px !important; }
      body.modalIsOpen .navbar.navbar-custom .navbar-header .modal-close-wrapper .btn,
      body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .modal-close-wrapper .btn {
        height: 40px;
        width: 40px;
        line-height: 40px; }
    body.modalIsOpen .navbar.navbar-custom .navbar-header .transform-group,
    body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .transform-group {
      width: 100%;
      left: 0; }
      body.modalIsOpen .navbar.navbar-custom .navbar-header .transform-group > .valign,
      body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .transform-group > .valign {
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
    body.modalIsOpen .navbar.navbar-custom .navbar-header .modal-close-wrapper,
    body.modalIsOpen .navbar.navbar-custom.affix .navbar-header .modal-close-wrapper {
      right: -8px; }
  .navbar.navbar-custom {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    border: none;
    padding-top: 12px; }
    .navbar.navbar-custom .navbar-header {
      margin: 0;
      padding: 8px 15px;
      height: 80px;
      position: relative; }
      .navbar.navbar-custom .navbar-header .navbar-brand {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0px;
        height: 85px;
        width: 65px; }
        .navbar.navbar-custom .navbar-header .navbar-brand .brand-img {
          height: 75px; }
      .navbar.navbar-custom .navbar-header .transform-group {
        width: 100%;
        left: 0; }
        .navbar.navbar-custom .navbar-header .transform-group > .valign {
          position: absolute;
          right: 30px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
    .navbar.navbar-custom .navbar-toggle {
      margin-right: 10px; }
    .navbar.navbar-custom .nav.navbar-right {
      display: none; }
    .navbar.navbar-custom .modal-close-wrapper > a {
      height: 35px;
      width: 35px;
      line-height: 35px;
      margin-top: 2px; }
    .navbar.navbar-custom.affix .navbar-header {
      height: 65px;
      margin: 0;
      padding: 8px 15px; }
      .navbar.navbar-custom.affix .navbar-header .navbar-brand {
        height: 65px;
        width: 140px; }
        .navbar.navbar-custom.affix .navbar-header .navbar-brand .brand-img {
          height: 67px;
          margin-top: 7px; }
      .navbar.navbar-custom.affix .navbar-header .transform-group {
        left: 0; } }

@media (min-width: 861px) {
  .navbar.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
    .navbar.navbar-custom .navbar-header {
      position: relative;
      overflow: hidden; }
    .navbar.navbar-custom .navbar-brand {
      margin-right: 30px; } }

#navigationModal .modal-content {
  height: 100%;
  padding: 100px 20px 20px 20px; }

#navigationModal .modal-body {
  width: 100%;
  height: 100%; }

#navigationModal .main-navigation {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  #navigationModal .main-navigation .navbar {
    text-align: left;
    display: inline-block;
    margin-left: 40%; }
    @media (max-width: 860px) {
      #navigationModal .main-navigation .navbar {
        margin-left: 10%; } }
    #navigationModal .main-navigation .navbar > li {
      width: 100%;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      margin-left: -40px; }
      #navigationModal .main-navigation .navbar > li.loaded {
        opacity: 1;
        margin-left: 0; }
    #navigationModal .main-navigation .navbar a {
      font-size: 22px;
      padding: 14px 10px;
      display: inline-block; }
      #navigationModal .main-navigation .navbar a:hover, #navigationModal .main-navigation .navbar a:focus, #navigationModal .main-navigation .navbar a:hover:active {
        background: none;
        margin-left: 20px; }

.affix-top,
.affix {
  position: static; }

.sidebar-affixed.affix-top {
  position: static; }

.sidebar-affixed.affix-bottom {
  position: relative; }

.sidebar-affixed.affix {
  position: fixed;
  top: 100px; }

.main-footer {
  text-align: center;
  padding: 50px 70px 40px 70px;
  font-weight: 300;
  border-top: none;
  font-family: "Avenir", sans-serif; }
  .main-footer .footer-nav {
    display: inline-block; }
    .main-footer .footer-nav a {
      color: #303030;
      text-decoration: none;
      font-weight: 300;
      font-size: 13px;
      padding: 20px 30px;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
      display: inline-block; }
      .main-footer .footer-nav a:hover, .main-footer .footer-nav a:focus {
        text-decoration: none;
        color: #d9251d; }
    .main-footer .footer-nav li.active:hover, .main-footer .footer-nav li.active:focus {
      text-decoration: none;
      color: #d9251d; }
  .main-footer .row-copyright {
    margin-top: 20px;
    margin-bottom: 15px; }
  .main-footer .signature {
    display: inline-block;
    padding: 6px;
    font-size: 13px;
    font-weight: 300;
    color: #8d8d8d; }
  .main-footer .btn-square-icon {
    margin-top: 20px; }

@media (max-width: 1040px) {
  .main-footer .footer-nav a {
    padding: 10px; } }

@media (max-width: 767px) {
  .main-footer {
    padding: 50px 0px 35px 0px;
    text-align: center;
    border: none; } }

#home {
  padding-top: 0;
  position: relative;
  z-index: 1;
  padding-bottom: 0; }
  #home .container-fluid {
    overflow: hidden;
    padding-bottom: 40px; }
    @media (max-width: 767px) {
      #home .container-fluid {
        padding-bottom: 0; } }
  #home .hero-wrapper {
    position: relative; }
  #home .hero-text-wrapper {
    padding: 260px 0px 80px 0px;
    position: relative;
    z-index: 2; }
    @media (max-width: 767px) {
      #home .hero-text-wrapper {
        padding: 260px 0px 0px 0px; } }
    @media (max-width: 991px) {
      #home .hero-text-wrapper {
        max-width: 420px; } }
  #home .hero-animation {
    position: static; }
  #home .list-inline > li + li {
    margin-top: 10px; }

#solutions {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
  padding-top: 0;
  background: #fff; }
  @media (min-width: 768px) {
    #solutions .container-fluid {
      display: table;
      padding-right: 0;
      padding-left: 0;
      margin-left: -15px;
      margin-right: -15px; } }
  @media (max-width: 767px) {
    #solutions {
      padding-bottom: 0; } }
  #solutions .card-image-background-wrapper {
    margin-right: -30px;
    margin-left: -30px; }
    #solutions .card-image-background-wrapper .card .card-content-wrapper {
      position: static; }
    #solutions .card-image-background-wrapper .card .card-tb {
      margin-bottom: 100px; }
    #solutions .card-image-background-wrapper .card .btn-white {
      position: absolute;
      bottom: 90px;
      left: 45px; }

#news .container-fluid {
  overflow-y: hidden; }

#news #swiper-news {
  margin-top: 40px; }
  #news #swiper-news .swiper-slide {
    width: 200px; }
  #news #swiper-news .card-news {
    height: 360px;
    display: block; }
    #news #swiper-news .card-news .card-text {
      height: 190px; }

#newsModal #swiper-news-modal .swiper-slide {
  width: 200px; }

#newsModal #swiper-news-modal .card-news {
  height: 360px;
  display: block; }
  #newsModal #swiper-news-modal .card-news .card-text {
    height: 190px; }

#clients .logos-list {
  text-align: center; }
  #clients .logos-list > li {
    width: 180px;
    padding: 10px;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      #clients .logos-list > li {
        width: 140px; } }
    #clients .logos-list > li > a > img {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
      /* Firefox 10+, Firefox on Android */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+, Safari 6+, Safari 6+ iOS */
      opacity: 0.45; }
    #clients .logos-list > li > a:hover > img, #clients .logos-list > li > a:focus > img, #clients .logos-list > li > a:hover:active > img {
      filter: none;
      filter: none;
      -webkit-filter: none;
      opacity: 1; }

#contacts .form-wrapper {
  width: 70%;
  margin: auto; }
  @media (max-width: 767px) {
    #contacts .form-wrapper {
      width: 100%; } }
  #contacts .form-wrapper .form-underlined-inputs {
    margin-top: 40px;
    margin-bottom: 40px; }

#contacts-map {
  position: relative; }
  #contacts-map #toNavigation {
    display: none; }
  @media (max-width: 767px) {
    #contacts-map #map {
      top: 0px; }
    #contacts-map #toNavigation {
      display: inline-block;
      position: absolute;
      bottom: 36px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); } }
  #contacts-map .main-wrapper {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 50px;
    width: 100%; }
    #contacts-map .main-wrapper .mt-40 {
      margin-top: 26px !important; }
    @media (max-width: 767px) {
      #contacts-map .main-wrapper .row-inlined .col-inline {
        width: 100%; }
        #contacts-map .main-wrapper .row-inlined .col-inline .tb-iconned {
          margin-bottom: 10px; } }
  #contacts-map .tb-phone a + a {
    padding-left: 4px; }

#main-slider .gallery-row {
  margin-left: -35px;
  margin-right: -35px; }
  @media (max-width: 767px) {
    #main-slider .gallery-row > div {
      padding-bottom: 0px !important; } }
  #main-slider .gallery-row > div {
    padding: 20px; }
    #main-slider .gallery-row > div .gallery-img {
      height: 250px;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }

@media (max-width: 767px) {
  #main-slider #moreGallery {
    margin-top: 40px; } }

#requisites {
  padding: 40px 20px 40px 20px; }
  #requisites .tb {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #8d8d8d; }
    #requisites .tb.pseudo-list {
      margin-bottom: 0; }
      #requisites .tb.pseudo-list > p {
        margin-bottom: 0; }

#moreGallery {
  margin-top: 20px; }

.moreImg {
  display: none; }

.bg-gray {
  background: #efefef; }

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

button {
  background: transparent; }

a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  a:hover, a:focus, a:hover:active {
    color: #d9251d;
    text-decoration: none; }

.btn {
  display: inline-block;
  font-family: "Avenir", sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 13px;
  line-height: 13px; }
  .btn:hover, .btn:focus, .btn:hover:active {
    outline: none;
    text-decoration: none; }

.btn-main {
  background-color: #4c5865;
  color: #fff;
  font-weight: 300;
  border: 1px solid #4c5865;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-main:hover, .btn-main:focus, .btn-main:hover:active {
    background: #d9251d;
    border-color: #d9251d;
    color: #fff; }

.btn-important {
  background-color: #d9251d;
  color: #fff;
  font-weight: 300;
  border: 1px solid #d9251d;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-important:hover, .btn-important:focus, .btn-important:hover:active {
    background: #4c5865;
    border-color: #4c5865;
    color: #fff; }

.btn-default {
  background-color: transparent;
  color: #303030;
  border: 1px solid #c1c1c1;
  font-weight: 300;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-default:hover, .btn-default:focus, .btn-default:hover:active {
    background: transparent;
    color: #d9251d;
    border-color: #d9251d; }

.btn-white {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 300;
  padding: 15px 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-white:hover, .btn-white:focus, .btn-white:hover:active {
    color: #4c5865;
    background-color: #fff;
    border-color: #fff; }

.btn-square-icon {
  padding: 6px 8px;
  background: #c1c1c1;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-square-icon .fa {
    font-size: 24px;
    color: #fff; }
  .btn-square-icon:hover, .btn-square-icon:focus, .btn-square-icon:hover:active {
    opacity: 0.8; }

.card {
  font-family: "Avenir", sans-serif; }
  .card .card-title {
    margin-top: 0;
    line-height: 1.4;
    font-size: 30px; }
  .card .card-tb {
    font-size: 15px;
    line-height: 1.6; }

.card-image-background-wrapper {
  display: table-row;
  table-layout: fixed; }

.card-image-background {
  display: table-cell;
  float: none !important;
  height: 100%;
  position: relative;
  font-family: "Avenir", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff; }
  .card-image-background .card-shade {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #323546;
    z-index: 1;
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .card-image-background:hover .card-shade {
    opacity: 0.9; }
  .card-image-background .card-content-wrapper {
    padding: 70px 30px 90px 30px; }
  .card-image-background * {
    position: relative;
    z-index: 2; }
  .card-image-background .card-title {
    color: #fff;
    margin-bottom: 32px; }
  .card-image-background .card-tb {
    color: #fff;
    font-size: 16px;
    line-height: 1.5; }
  .card-image-background .btn-white {
    margin-top: 50px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .card-image-background .card-title,
    .card-image-background .card-tb {
      max-width: 65%; } }

.card-news .card-img-holder {
  width: 100%;
  height: 140px; }

.card-news label,
.card-news .card-text {
  padding: 5px 15px; }

.card-news label {
  font-size: 12px; }

.card-news .card-title {
  font-size: 16px;
  line-height: 1.4;
  color: #303030;
  margin-top: 10px; }

.card-news .tb {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.6;
  color: #8d8d8d;
  text-align: justify; }
  @media (max-width: 991px) {
    .card-news .tb {
      text-align: left; } }

.card-news .truncate {
  height: 90px; }

.card-news .text-main {
  color: #4c5865; }

@media (max-width: 991px) {
  .card-image-background-wrapper {
    display: block;
    margin: 0 -15px;
    border-spacing: 0; }
    .card-image-background-wrapper .card-image-background {
      display: block;
      margin: 20px 0; } }

.noSwiping .swiper-pagination {
  display: none; }

#swiper-main.swiper-container {
  width: 100%;
  height: 420px; }
  #swiper-main.swiper-container .swiper-slide {
    height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 120px; }
    #swiper-main.swiper-container .swiper-slide:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.45;
      z-index: 1; }
    #swiper-main.swiper-container .swiper-slide * {
      z-index: 2; }
    #swiper-main.swiper-container .swiper-slide .slide-content {
      position: absolute;
      left: 120px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      #swiper-main.swiper-container .swiper-slide .slide-content .tb {
        font-weight: 100; }
  @media (max-width: 767px) {
    #swiper-main.swiper-container {
      height: 480px; }
      #swiper-main.swiper-container .swiper-slide {
        height: 480px;
        padding: 20px 40px; }
        #swiper-main.swiper-container .swiper-slide .slide-content {
          position: relative;
          left: auto;
          top: auto;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0); } }

.swiper-container.swiper-arrowed .swiper-nav-btn {
  background: none;
  position: absolute;
  top: 50%;
  height: 16px;
  width: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  margin-top: -8px; }
  .swiper-container.swiper-arrowed .swiper-nav-btn.swiper-button-next {
    background-image: url("../img/arrow-white.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 30px; }
  .swiper-container.swiper-arrowed .swiper-nav-btn.swiper-button-prev {
    background-image: url("../img/arrow-white.png");
    left: 30px; }
  @media (max-width: 767px) {
    .swiper-container.swiper-arrowed .swiper-nav-btn {
      width: 20px; }
      .swiper-container.swiper-arrowed .swiper-nav-btn.swiper-button-next {
        right: 10px; }
      .swiper-container.swiper-arrowed .swiper-nav-btn.swiper-button-prev {
        left: 10px; } }

.swiper-container.swiper-fadedout {
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-bottom: 70px; }
  .swiper-container.swiper-fadedout .swiper-slide {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  @media (min-width: 992px) {
    .swiper-container.swiper-fadedout .swiper-slide {
      opacity: 0; }
      .swiper-container.swiper-fadedout .swiper-slide.swiper-slide-active {
        opacity: 1; } }
  @media (max-width: 991px) {
    .swiper-container.swiper-fadedout {
      padding-right: 40px;
      padding-left: 40px;
      margin-left: auto;
      margin-right: auto; }
      .swiper-container.swiper-fadedout .swiper-wrapper {
        box-sizing: border-box; } }
  .swiper-container.swiper-fadedout .swiper-pagination .swiper-pagination-bullet {
    border-radius: 0;
    width: 20px;
    height: 2px;
    opacity: 1;
    background: #c1c1c1; }
    .swiper-container.swiper-fadedout .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #d9251d; }
  @media (max-width: 991px) {
    .swiper-container.swiper-fadedout {
      padding-right: 34px;
      padding-left: 34px;
      padding-bottom: 50px; }
      .swiper-container.swiper-fadedout.full-width {
        padding-right: 0 !important;
        padding-left: 0 !important; }
        .swiper-container.swiper-fadedout.full-width .swiper-news-arrow {
          display: none; }
      .swiper-container.swiper-fadedout .swiper-news-arrow-modal,
      .swiper-container.swiper-fadedout .swiper-news-arrow {
        margin: 0;
        background-size: 17px 30px;
        opacity: 1 !important; }
        .swiper-container.swiper-fadedout .swiper-news-arrow-modal.swiper-button-disabled:after,
        .swiper-container.swiper-fadedout .swiper-news-arrow.swiper-button-disabled:after {
          opacity: 0.35; }
        .swiper-container.swiper-fadedout .swiper-news-arrow-modal.swiper-button-prev,
        .swiper-container.swiper-fadedout .swiper-news-arrow.swiper-button-prev {
          width: 34px;
          height: 100%;
          top: 0;
          left: 0;
          background: #FFF; }
          .swiper-container.swiper-fadedout .swiper-news-arrow-modal.swiper-button-prev:after,
          .swiper-container.swiper-fadedout .swiper-news-arrow.swiper-button-prev:after {
            content: '';
            background-image: url("../img/arrow-left.png");
            background-position: left;
            width: 16px;
            height: 30px;
            background-size: cover;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 6px; }
        .swiper-container.swiper-fadedout .swiper-news-arrow-modal.swiper-button-next,
        .swiper-container.swiper-fadedout .swiper-news-arrow.swiper-button-next {
          width: 34px;
          height: 100%;
          top: 0;
          right: 0;
          background: #FFF; }
          .swiper-container.swiper-fadedout .swiper-news-arrow-modal.swiper-button-next:after,
          .swiper-container.swiper-fadedout .swiper-news-arrow.swiper-button-next:after {
            content: '';
            background-image: url("../img/arrow-right.png");
            background-position: right;
            width: 16px;
            height: 30px;
            background-size: cover;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 6px; }
      .swiper-container.swiper-fadedout .swiper-news-arrow-modal.swiper-button-prev, .swiper-container.swiper-fadedout .swiper-news-arrow-modal.swiper-button-next {
        background-position: center; } }
  @media (min-width: 992px) {
    .swiper-container.swiper-fadedout {
      width: 70%;
      overflow: visible; }
      .swiper-container.swiper-fadedout.full-width {
        width: 100%; }
        .swiper-container.swiper-fadedout.full-width#swiper-news-modal {
          max-width: 1000px; }
      .swiper-container.swiper-fadedout .swiper-news-arrow-modal,
      .swiper-container.swiper-fadedout .swiper-news-arrow {
        display: none; }
      .swiper-container.swiper-fadedout .swiper-slide {
        opacity: 0.5; }
        .swiper-container.swiper-fadedout .swiper-slide.swiper-slide-active {
          opacity: 1; }
        .swiper-container.swiper-fadedout .swiper-slide.swiper-slide-active + .swiper-slide {
          opacity: 1; }
        .swiper-container.swiper-fadedout .swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide {
          opacity: 1; }
      .swiper-container.swiper-fadedout .swiper-pagination .swiper-pagination-bullet {
        width: 50px; } }
  @media (min-width: 461px) and (max-width: 991px) {
    .swiper-container.swiper-fadedout .swiper-slide.swiper-slide-active {
      opacity: 1; }
    .swiper-container.swiper-fadedout .swiper-slide.swiper-slide-active + .swiper-slide {
      opacity: 1; } }
  @media (max-width: 460px) {
    .swiper-container.swiper-fadedout .swiper-slide.swiper-slide-active {
      opacity: 1; } }

.list-slashed {
  list-style: none; }
  .list-slashed > li {
    display: inline-block;
    margin: 0; }
  .list-slashed > li + li {
    position: relative; }
    .list-slashed > li + li:before {
      content: '/';
      margin-right: 1px; }

.list-ticked,
.list-ticked ul {
  list-style: none;
  text-align: left; }
  .list-ticked > li,
  .list-ticked ul > li {
    position: relative;
    padding: 6px 10px 10px 30px;
    font-size: 16px;
    color: #7a7a7a;
    font-family: "Avenir", sans-serif;
    font-weight: 300;
    line-height: 1.4; }
    .list-ticked > li:before,
    .list-ticked ul > li:before {
      content: '';
      width: 12px;
      height: 7px;
      border-bottom: 3px solid #d9251d;
      border-left: 3px solid #d9251d;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      left: 0;
      top: 10px; }

.custom-tabs .nav.nav-tabs > li > a {
  font-family: "Avenir", sans-serif;
  padding: 0;
  width: auto;
  text-align: center;
  margin-top: auto;
  position: relative;
  font-weight: 400;
  color: #000;
  border: none; }
  .custom-tabs .nav.nav-tabs > li > a:hover, .custom-tabs .nav.nav-tabs > li > a:focus, .custom-tabs .nav.nav-tabs > li > a:hover:active {
    background: transparent; }

.custom-tabs .nav.nav-tabs > li.active a {
  color: #d9251d;
  border: none; }

.custom-tabs .tab-pane .tab-header {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #d9251d;
  margin-bottom: 10px;
  margin-top: 18px; }

.custom-tabs .tab-pane.active {
  padding: 40px 0 0 0; }

@media (min-width: 768px) {
  .custom-tabs .nav.nav-tabs {
    display: table;
    border: none;
    margin: 40px auto 0 auto; }
    .custom-tabs .nav.nav-tabs > li + li {
      padding-left: 120px; }
    .custom-tabs .nav.nav-tabs > li {
      display: table-cell;
      float: none;
      border-bottom: 1px solid #c0c0c0;
      padding: 0; }
      .custom-tabs .nav.nav-tabs > li a {
        display: inline-block;
        width: auto;
        border-bottom: 1px solid #c0c0c0;
        margin-bottom: -1px;
        padding-bottom: 16px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        max-width: 180px; }
        .custom-tabs .nav.nav-tabs > li a:hover, .custom-tabs .nav.nav-tabs > li a:focus, .custom-tabs .nav.nav-tabs > li a:hover:active {
          border-bottom: 1px solid #d9251d; }
      .custom-tabs .nav.nav-tabs > li.active a {
        border: none;
        border-bottom: 1px solid #d9251d; } }

@media (max-width: 767px) {
  .custom-tabs .nav.nav-tabs {
    border: none; }
    .custom-tabs .nav.nav-tabs > li {
      display: block;
      width: 100%; }
      .custom-tabs .nav.nav-tabs > li > a {
        padding: 6px; } }

.header-imaged {
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 260px; }
  .header-imaged .header-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 260px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+98,ffffff+100&0.91+18,0.55+38,0+55 */
    background: -moz-linear-gradient(45deg, white 44%, rgba(255, 255, 255, 0.99) 45%, rgba(255, 255, 255, 0.55) 58%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, white 44%, rgba(255, 255, 255, 0.99) 45%, rgba(255, 255, 255, 0.55) 58%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, white 44%, rgba(255, 255, 255, 0.99) 45%, rgba(255, 255, 255, 0.55) 58%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ffffff', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    z-index: 2; }
  .header-imaged .header-content {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    z-index: 3; }
    .header-imaged .header-content .header {
      margin-bottom: 30px;
      padding: 0;
      max-width: 45%;
      text-align: left;
      line-height: 1.2; }

@media (max-width: 767px) {
  .header-imaged .header-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 260px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+98,ffffff+100&0.91+18,0.55+38,0+55 */
    background: -moz-linear-gradient(45deg, white 48%, rgba(255, 255, 255, 0.99) 49%, rgba(255, 255, 255, 0.55) 58%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, white 48%, rgba(255, 255, 255, 0.99) 49%, rgba(255, 255, 255, 0.55) 58%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, white 48%, rgba(255, 255, 255, 0.99) 49%, rgba(255, 255, 255, 0.55) 58%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ffffff', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    z-index: 2; }
  .header-imaged .header-content .header {
    max-width: 50%; } }

.map-wrapper {
  position: relative;
  height: 650px;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0; }
  .map-wrapper .gm-svpc {
    display: none; }
  .map-wrapper .gm-bundled-control {
    bottom: auto;
    top: 80px;
    right: 30px; }
    .map-wrapper .gm-bundled-control .gmnoprint {
      left: -35px !important;
      top: 90px !important; }

#map {
  height: 800px;
  width: 100%;
  position: absolute;
  top: -20px; }
  #map > div {
    background-color: #1d242e !important; }

.form-underlined-inputs {
  font-family: "Avenir", sans-serif; }
  .form-underlined-inputs .form-group-input {
    margin: 15px 0 10px 0; }
  .form-underlined-inputs .form-control {
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #303030;
    font-size: 16px;
    padding-bottom: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .form-underlined-inputs .form-control::-webkit-input-placeholder {
      color: #303030;
      font-size: 16px; }
    .form-underlined-inputs .form-control:-moz-placeholder {
      color: #303030;
      font-size: 16px; }
    .form-underlined-inputs .form-control::-moz-placeholder {
      color: #303030;
      font-size: 16px; }
    .form-underlined-inputs .form-control:-ms-input-placeholder {
      color: #303030;
      font-size: 16px; }
    .form-underlined-inputs .form-control:focus {
      border-color: #4c5865; }
  .form-underlined-inputs textarea.form-control {
    margin-top: 20px !important;
    height: auto;
    resize: vertical; }
  .form-underlined-inputs .form-footer {
    margin-top: 40px; }
    .form-underlined-inputs .form-footer .alert-success {
      background: none;
      color: #4c5865;
      margin: 0; }
    .form-underlined-inputs .form-footer .btn {
      margin-top: 20px; }
  .form-underlined-inputs .form-group-input .error-message {
    display: none; }
  .form-underlined-inputs .form-group-input.has-error .form-control {
    border-color: #d9251d;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .form-underlined-inputs .form-group-input.has-error .error-message {
    display: inline-block;
    margin-top: 6px;
    color: #d9251d; }

@media (max-width: 767px) {
  .form-underlined-inputs .form-group {
    margin: 0; }
    .form-underlined-inputs .form-group.form-footer {
      margin-top: 20px; }
  .form-underlined-inputs textarea.form-control {
    margin-top: 0px !important; } }

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #cbcbcb; }

.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #4c5865; }

.checkbox-container input:checked ~ .checkmark {
  background-color: #4c5865;
  border: 2px solid #4c5865; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

.checkbox-container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.modal-backdrop {
  background-color: #fff; }

.modal-popup .modal-dialog {
  margin-top: 120px; }

.modal-popup .modal-content {
  border-radius: 0;
  border: none;
  padding: 30px; }

.modal-popup .modal-content-wrapper {
  max-width: 1000px;
  margin: auto; }

.modal-popup .modal-body {
  padding: 0;
  text-align: justify; }
  @media (max-width: 991px) {
    .modal-popup .modal-body {
      text-align: left; } }

.modal-popup .modal-header {
  text-align: left;
  position: relative;
  margin-bottom: 30px;
  padding: 0 15px; }
  .modal-popup .modal-header h2 {
    font-size: 40px; }
    @media (max-width: 991px) {
      .modal-popup .modal-header h2 {
        font-size: 32px; } }

.modal-popup .close {
  margin: 0;
  font-size: 26px;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 42px;
  top: 40px;
  color: #d9251d;
  z-index: 10; }

.modal-popup .modal-header, .modal-popup .modal-footer {
  border: 0; }

.modal-popup .modal-footer {
  text-align: center;
  margin-top: 50px; }
  .modal-popup .modal-footer .close {
    position: relative;
    color: #303030;
    font-size: 13px;
    right: auto;
    top: auto;
    display: inline-block;
    float: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .modal-popup .modal-footer .close:hover, .modal-popup .modal-footer .close:focus, .modal-popup .modal-footer .close:hover:active {
      color: #d9251d; }
    .modal-popup .modal-footer .close p {
      margin: 0 6px;
      display: inline-block; }
    .modal-popup .modal-footer .close .fa {
      color: #d9251d; }

.modal.in {
  display: block !important; }

.pagelike-modal {
  background: #fff; }
  .pagelike-modal .modal-dialog {
    height: 100%;
    width: 100%;
    margin: 0; }
  .pagelike-modal .modal-content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-bottom: 90px;
    background: none;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding-top: 160px; }
    @media (max-width: 991px) {
      .pagelike-modal .modal-content {
        padding: 100px 20px 70px 20px; } }
    @media (max-width: 767px) {
      .pagelike-modal .modal-content {
        padding: 100px 0px 70px 0px; } }
  .pagelike-modal .modal-content-wrapper {
    max-width: 1000px;
    margin: auto; }
  .pagelike-modal .modal-body {
    padding: 0;
    text-align: justify;
    font-size: 17px; }
    @media (max-width: 991px) {
      .pagelike-modal .modal-body {
        text-align: left; } }
  .pagelike-modal .modal-header {
    text-align: left;
    position: relative;
    margin-bottom: 30px;
    padding: 0 15px; }
    .pagelike-modal .modal-header h2 {
      font-size: 40px; }
      @media (max-width: 991px) {
        .pagelike-modal .modal-header h2 {
          font-size: 32px; } }
  .pagelike-modal .close {
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    right: 42px;
    top: 40px;
    color: #d9251d;
    z-index: 10; }
  .pagelike-modal .modal-header, .pagelike-modal .modal-footer {
    border: 0; }
  .pagelike-modal .modal-footer {
    text-align: center;
    margin-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff; }
    .pagelike-modal .modal-footer .close {
      position: relative;
      color: #303030;
      font-size: 13px;
      right: auto;
      top: auto;
      display: inline-block;
      float: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .pagelike-modal .modal-footer .close:hover, .pagelike-modal .modal-footer .close:focus, .pagelike-modal .modal-footer .close:hover:active {
        color: #d9251d; }
      .pagelike-modal .modal-footer .close p {
        margin: 0 6px;
        display: inline-block; }
      .pagelike-modal .modal-footer .close .fa {
        color: #d9251d; }

#newsModal .modal-content-wrapper {
  max-width: none; }
  #newsModal .modal-content-wrapper .modal-header,
  #newsModal .modal-content-wrapper .inner-wrapper {
    max-width: 1000px;
    margin: auto; }
  #newsModal .modal-content-wrapper .modal-header .header-2 {
    margin-bottom: 4px; }
  #newsModal .modal-content-wrapper .news-img {
    margin: 40px auto 50px auto; }
  #newsModal .modal-content-wrapper .text-main {
    color: #4c5865; }
  #newsModal .modal-content-wrapper .modal-body-text {
    font-weight: 600; }
    #newsModal .modal-content-wrapper .modal-body-text p:first-of-type {
      margin-top: 24px; }
    #newsModal .modal-content-wrapper .modal-body-text *:not(b):not(h1):not(h2):not(h3):not(h4) {
      font-weight: 300; }

#aboutModal .list-ticked {
  margin-top: 40px; }

@media (max-width: 767px) {
  .search-modal .modal-dialog {
    height: 100%;
    width: 100%;
    margin: 0; }
  .search-modal .modal-content {
    width: 100%;
    padding: 20px; }
    .search-modal .modal-content .form-control {
      font-size: 16px; }
      .search-modal .modal-content .form-control::-webkit-input-placeholder {
        font-size: 16px; }
      .search-modal .modal-content .form-control:-moz-placeholder {
        font-size: 16px; }
      .search-modal .modal-content .form-control::-moz-placeholder {
        font-size: 16px; }
      .search-modal .modal-content .form-control:-ms-input-placeholder {
        font-size: 16px; }
  .search-modal .search-legend {
    display: none;
    margin-bottom: -10px; }
    .search-modal .search-legend .list-inline {
      margin-bottom: 10px;
      text-align: left; }
  .search-modal .modal-footer {
    width: 100%;
    padding: 0 20px; } }

.ipHasAdminNavbar #solutionModal2 .modal-dialog.modal-lg {
  margin-top: 148px; }

.ipHasAdminNavbar #solutionModal1 .modal-dialog.modal-lg {
  margin-top: 148px; }

.ipHasAdminNavbar #solutionModal3 .modal-dialog.modal-lg {
  margin-top: 148px; }

.ipHasAdminNavbar #newsModalTitle {
  margin-top: 148px; }

.ipHasAdminNavbar #aboutModal {
  margin-top: 148px; }

.modal-content-wrapper ul {
  margin-left: 16px; }

.modal-content-wrapper ol {
  margin-left: 18px; }

.hero-animation #hand1 {
  width: 240px;
  height: 500px;
  position: absolute;
  top: -450px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .hero-animation #hand1 #hand1-wrapper {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: float 12s infinite;
    /* Safari 4.0 - 8.0 */
    animation: float 12s infinite; }
  .hero-animation #hand1 #hand1-part1 {
    max-height: 500px;
    z-index: 2; }
  .hero-animation #hand1 #hand1-part2 {
    max-height: 170px;
    position: absolute;
    top: 235px;
    left: 61px;
    z-index: -1; }
  .hero-animation #hand1 #cord {
    position: absolute;
    top: -800px;
    left: -500px;
    height: 100%;
    width: auto;
    z-index: -1; }
    .hero-animation #hand1 #cord.visible {
      opacity: 1; }

.hero-animation #hand2 {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -350px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .hero-animation #hand2 .img-responsive {
    max-width: 700px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: float 20s infinite;
    /* Safari 4.0 - 8.0 */
    animation: float 20s infinite; }

@media (max-width: 991px) {
  .hero-animation #hand1 {
    width: 124px;
    height: 500px;
    top: -300px;
    left: 55%; }
    .hero-animation #hand1 #hand1-wrapper {
      top: 11px;
      left: -36px; }
    .hero-animation #hand1 #hand1-part1 {
      max-height: 260px; }
    .hero-animation #hand1 #hand1-part2 {
      max-height: 90px;
      top: 121px;
      left: 30px; }
    .hero-animation #hand1 #cord {
      position: absolute;
      top: -10px;
      left: -75px; }
  .hero-animation #hand2 {
    width: 50%;
    position: absolute;
    right: -220px;
    bottom: auto;
    top: 280px; }
    .hero-animation #hand2 .img-responsive {
      max-width: 346px;
      bottom: auto;
      top: 0;
      right: -147px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hero-animation #hand1 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .hero-animation #hand2 {
    margin-top: 80px; } }

@-webkit-keyframes float {
  0% {
    transform: translate(0%, 0%); }
  25% {
    transform: translate(-2%, -1%); }
  50% {
    transform: translate(0%, 0%); }
  80% {
    transform: translate(-1%, 1%); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes float {
  0% {
    transform: translate(0%, 0%); }
  25% {
    transform: translate(-2%, -1%); }
  50% {
    transform: translate(0%, 0%); }
  80% {
    transform: translate(-1%, 1%); }
  100% {
    transform: translate(0%, 0%); } }

.lightbox {
  font-family: "Avenir", sans-serif; }
  .lightbox .lb-outerContainer {
    border-radius: 0; }
  .lightbox .lb-image {
    border-radius: 0;
    border: none; }
  .lightbox .lb-close {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 100%;
    line-height: 50px;
    background: #d9251d;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    position: relative;
    margin-right: -4px; }
    .lightbox .lb-close:after {
      content: 'x';
      font-family: "Avenir", sans-serif;
      color: #fff;
      font-size: 18px;
      line-height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .lightbox .lb-close:hover, .lightbox .lb-close:focus, .lightbox .lb-close:hover:active {
      background: #4c5865; }
    @media (max-width: 767px) {
      .lightbox .lb-close {
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-right: -2px; }
        .lightbox .lb-close:after {
          font-size: 15px;
          line-height: 35px; } }
  .lightbox .lb-nav a.lb-next {
    background-image: url("../img/arrow-right.png");
    background-size: 24px;
    background-position: right 15px center; }
  .lightbox .lb-nav a.lb-prev {
    background-image: url("../img/arrow-left.png");
    background-size: 24px;
    background-position: left 15px center; }
  @media (max-width: 767px) {
    .lightbox .lb-nav a.lb-next {
      background-size: 16px;
      background-position: right 10px center; }
    .lightbox .lb-nav a.lb-prev {
      background-size: 16px;
      background-position: left 10px center; } }
  .lightbox .lb-dataContainer {
    display: block;
    width: 740px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1 !important; }
    @media (max-width: 767px) {
      .lightbox .lb-dataContainer {
        top: -55px; } }
    .lightbox .lb-dataContainer .lb-number {
      position: absolute;
      bottom: 0;
      padding: 0; }

#clients .logos-list > li {
  vertical-align: middle; }

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #cbcbcb; }

.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #4c5865; }

.checkbox-container input:checked ~ .checkmark {
  background-color: #4c5865;
  border: 2px solid #4c5865; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

.checkbox-container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
