@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.otf') format('opentype'),
  url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Thin/AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/Avenir-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/Avenir-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.otf') format('opentype'),
  url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}