@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  //font-family: 'Velodrome', sans-serif;
  font-family: $font-body;
}

a {
  color: inherit;

  &:focus {
    outline: none;
  }
}

a.text-main {
  &:hover,
  &:focus {
    color: darken($color-main, 5%);
  }
}

a.disabled-link {
  cursor: default!important;
  &:hover,
  &:focus {
    color: inherit!important;
  }
}

.text-main {
  color: $color-main;
}

.text-dark {
  color: $color-text-main;
}

.text-lighter {
  color: #747474;
}

.text-white {
  color: #fff;
}

.text-thin {
  font-weight: 300!important;
}

.text-bold {
  font-weight: 600;
}


.tb {
  line-height: 1.8;
}

.tb-intro {
  font-size: 17px;
  margin-top: 26px;
  padding-right: 20px;
  color: #929292;
}


.tb-narrow {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.tb-highlights {
  color: #999999;
  
  b {
    color: $color-main;
  }
}

.tb-iconned {
  font-size: 17px;
  background-repeat: no-repeat;
  padding: 10px 0 10px 50px;
  text-align: left;

  position: relative;
  display: inline-block;

  &:before {
    display: inline-block;
    position: absolute;
    left: 0;
    top:50%;
    @include transform(translateY(-50%));
    content: '';
    height: 48px;
    width: 35px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  p {
    margin: 0;
  }

  &.tb-address {
    &:before {
      background-image: url('../img/pin-icon.png');
    }
  }

  &.tb-phone {
    &:before {
      background-image: url('../img/phone-icon.png');
    }
  }

  &.tb-email {
    &:before {
      background-image: url('../img/mail-icon.png');
    }
  }

  &.tb-linkedin {
    &:before {
      background-image: url('../img/in-icon.png');
    }
  }
}

.tb-spacedout {
  p + p {
    margin-top: 24px;
  }
}


.header-1,
.header-2,
.header-3 {
  font-family: $font-body;
  font-weight: 400;
}


.header-1 {
  font-size: 50px;

  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.header-2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.6;

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 1.3;
  }
}

.header-3 {
  font-size: 30px;
}

.header-4 {
  font-size: 20px;
}

.concat{
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 70px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 767px) {
    height: 110px;
  }
}

.no-break {
  white-space: nowrap;
}