body.modal-open {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.safety-wrapper {
  max-width: 1400px;
  margin: auto;
  position: relative;
  padding: 0;
  overflow: hidden;

  //@media (max-width: 767px) {
  //  padding: 0 15px;
  //}
}

.inner-layout-wrapper {
  //margin-left: -15px;
  //margin-right: -15px;
}

.paddless {
  padding: 0;
}


.container-fluid {
  overflow-x: hidden;
}

.valign {
  display: inline-block;
  vertical-align: middle;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.section-framed {
  border-left: 40px solid #fff;
  border-right: 40px solid #fff;
  padding: 20px 0 40px 0;

  @media (max-width: 991px) {
    padding: 10px 0 20px 0;
  }

  @media (max-width: 767px) {
    padding: 10px 15px 20px 15px;
    border-left: none;
    border-right: none;
  }
}



.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.row-valigned {
  font-size: 0;

  [class^='col'] {
    display: inline-block;
    vertical-align: middle;
    float: none!important;
  }
}

.row-inlined {
  font-size: 0;

  .col-inline {
    display: inline-block;
    float: none!important;
  }

  &.row-inlined-middle {
    .col-inline {
      vertical-align: middle;
    }
  }
}

.margin-b20 {
  margin-bottom: 20px;
}

.margin-t45 {
  margin-top: 45px;
}


.margin-t100 {
  margin-top: 100px;
}

.modal-backdrop.in {
  display: none;
}

.col-900 {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.no-scroll {
  //height: 100%;
  //width: 100%;
  //overflow: hidden;
}

