.main-footer {
  text-align: center;
  padding: 50px 70px 40px 70px;
  font-weight: 300;
  border-top: none;
  font-family: $font-body;

  .footer-nav {
    display: inline-block;
    a {
      color: #303030;
      text-decoration: none;
      font-weight: 300;
      font-size: 13px;
      padding: 20px 30px;
      @include animation(color, $animationTime);
      display: inline-block;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $color-main;
      }
    }

    li.active {
      &:hover,
      &:focus {
        text-decoration: none;
        color: $color-main;
      }
    }
  }

  .row-copyright {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .signature {
    display: inline-block;
    padding: 6px;
    font-size: 13px;
    font-weight: 300;
    color: #8d8d8d;
  }

  .btn-square-icon {
    margin-top: 20px;
  }
}

@media (max-width: 1040px) {
  .main-footer {
    .footer-nav {
      a {
        padding: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-footer {
    padding: 50px 0px 35px 0px;
    text-align: center;
    border: none;
  }
}