.same-height-grid {
  margin-left: -40px;
  margin-right: -40px;

  .row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate;
  }
  .col-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-top {
    vertical-align: top;
  }
  .col-middle {
    vertical-align: middle;
  }
  .col-bottom {
    vertical-align: bottom;
  }

  .row-height + .row-height {
    margin-top: -20px;
  }


  .card.grid-card {
    @media (min-width: 768px) {
      padding: 100px 60px;
      vertical-align: middle;
    }

    &.col-sm-height {
      height: 480px;
      position: relative;

      .card-content {
        .card-tb {
          margin-top: 20px;
          p {
            color: #8d8d8d;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    display: table;
    margin-left: -15px;
    margin-right: -15px;

    .row-height {
      display: block;
      table-layout: initial;
      height: 100%;
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;

      .card.grid-card.col-sm-height {
        float: none;
        display: table-header-group;
        width: 100%;

        .card-content {
          padding: 20px;
        }

        &.bg-img {
          display: table-cell;
          height: 320px;
        }
      }
    }

    .row-height + .row-height {
      margin-top: 15px;
    }
  }

  @media (min-width: 480px) {
    .row-xs-height {
      display: table;
      table-layout: fixed;
      height: 100%;
      width: 100%;
    }
    .col-xs-height {
      display: table-cell;
      float: none;
      height: 100%;
    }
    .col-xs-top {
      vertical-align: top;
    }
    .col-xs-middle {
      vertical-align: middle;
    }
    .col-xs-bottom {
      vertical-align: bottom;
    }
  }

  @media (min-width: 768px) {
    .row-sm-height {
      display: table;
      table-layout: fixed;
      height: 100%;
      width: 100%;
    }
    .col-sm-height {
      display: table-cell;
      float: none;
      height: 100%;
    }
    .col-sm-top {
      vertical-align: top;
    }
    .col-sm-middle {
      vertical-align: middle;
    }
    .col-sm-bottom {
      vertical-align: bottom;
    }
  }
}