// ADMIN fix

  .ipsAdminPanelContainer,
  .ipsAdminNavbarContainer {
    z-index: 2501;
    position: relative;
  }

  .ipHasAdminNavbar.ipHasAdminPanel {
    .navbar.navbar-custom.affix-top,
    .navbar.navbar-custom.affix {
      top: 148px;
    }
  }

  .ipHasAdminNavbar.ipHasAdminPanel.modal-open {
    .navbar.navbar-custom.affix-top,
    .navbar.navbar-custom.affix {
      top: 148px;
    }
  }

//


body.modalIsOpen {
  .navbar.navbar-custom,
  .navbar.navbar-custom.affix {
    position: fixed;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    .navbar-header {
      padding: 15px 0;

      .navbar-brand {
        height: 65px;
        width: 180px;

        .brand-img {
          height: 82px;
          margin-top: 3px;
        }
      }

      .transform-group {
        @include animation(all, 1s);
        left: 160px;
        top: -100%;
      }
    }

    .nav.navbar-right {
      right: 50px;
      top: 50%;

      .btn {
        margin-right: -50px;
        width: 50px;
        height: 50px;
        padding-left: 0;
        padding-right: 0;
        //font-size: 0;
        overflow: hidden;

        &.btn-main {
          min-width: 0;
        }
      }
    }

    .modal-close-wrapper {
      right: 0;
      top: 50%;
    }
  }
}

.navbar.navbar-custom {
  border-radius: 0;
  border: none;
  font-family: $font-body;
  font-size: 13px;
  background-color: transparent;
  color: #303030;
  padding: 36px 0 0 0;
  @include animation(all, $animationTime);
  border-left: 40px solid #fff;
  border-right: 40px solid #fff;
  z-index: 2500;
  overflow: hidden;

  .container-fluid {
    padding: 0;
    overflow: hidden;
  }

  &.affix {
    position: fixed;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 2px 19px -2px rgba(184,184,184,0.6);
    -moz-box-shadow: 0px 2px 19px -2px rgba(184,184,184,0.6);
    box-shadow: 0px 2px 19px -2px rgba(184,184,184,0.6);

    .navbar-header {
      padding: 15px 0;

      .navbar-brand {
        height: 65px;
        width: 180px;

        .brand-img {
          height: 82px;
          margin-top: 3px;
        }
      }

      .transform-group {
        left: 160px;
        top: 50%;
      }

      .navbar-nav.navbar-right {
        top: 50%;
      }
    }

    .modal-close-wrapper {
      top: 50%;
    }
  }

  .modal-close-wrapper {
    padding-top: 0;
  }

  .navbar-header {
    width: 100%;
  }

  .container-fluid {
    max-width: 1320px;
    left: 0;
  }

  .navbar-brand {
    height: 101px;
    width: 85px;
    overflow: hidden;
    padding:0;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;

    @include animation(all, $animationTime);
    .brand-img {
      @include animation(all, $animationTime);
      height: 101px;
    }

    .brand-img-white {
      display: none;
    }
  }

  .transform-group {
    @include animation(all, $animationTime);
    display: inline-block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 70px;
  }

  .navbar-toggle {
    display: inline-block!important;
    float: none;
    border-radius: 0;
    border: none;
    background: none;
    padding-left: 5px;
    margin-left: 50px;
    @include animation(all, $animationTime);
    z-index: 2;

    &:focus,
    &:hover {
      background: none;
    }

    .icon-bar {
      width: 20px;
      height: 2px;
      border-radius: 6px;
      @include transform(rotate(0deg));
      background: $color-main;

      &:nth-child(2) {
        @include transform(rotate(0deg));

      }

      &:nth-child(4) {
        @include transform(rotate(0deg));
      }

      &:nth-child(3) {
        display: block;
      }
    }

    &:not(.collapsed) {
      .icon-bar {
        background: #fff;

        &:nth-child(2) {
          @include transform(rotate(45deg));
          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          margin-top: 5px;
        }
        &:nth-child(4) {
          @include transform(rotate(-45deg));
          margin-top: -3px;
        }

        &:nth-child(3) {
          float: left;
        }
      }
    }

    p {
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 0;
      margin-left: 20px;
    }

    @include hover-focus {
      color: $color-main;
    }
  }

  #lang-select {
    margin-bottom: 0;
    @include animation(all, $animationTime);

    a {
      color: #303030;
    }

    li {
      &:before {
        margin-right: 5px;
        margin-left: 1px;
        color: #303030;
      }
    }
  }

  .nav.navbar-right {
    > li {
      height: 50px;

      > a {
        height: 50px;
        color: #303030;
        @include animation(all, $animationTime);
        @include hover-focus {
          color: $color-main;
        }
      }
    }

    .btn {
      color: #fff;
      padding: 18px 40px;
      font-size: 13px;
      line-height: 13px;
      margin-left: 30px;

      @include animation(all, $animationTime);
      @include hover-focus {
        background: $color-main;
        color: #fff;
        border-color: $color-main;
      }

      &.btn-main {
        @include animation(all, $animationTime);
        min-width: 170px;
      }
    }

    .tb-iconned {
      font-size: 13px;
      background-repeat: no-repeat;
      padding-left: 40px;
      text-align: left;
      position: relative;
      display: inline-block;

      &:before {
        height: 50px;
        width: 22px;
      }

      &.tb-linkedin {
        padding-left: 36px;
        padding-right: 6px;
        &:before {
          height: 50px;
          width: 16px;
        }
      }

      &.tb-phone {
        > a {
          padding: 0;
          height: 30px;
          line-height: 30px;
          display: inline-block;
        }

        a + a {
          padding-left: 4px;
          position: relative;
        }
      }
    }
  }

  .nav.navbar-right {
    @include animation(all, $animationTime);
    position: absolute;
    right: 0;
    top: 40%;
    @include transform(translateY(-50%));
    padding: 0 15px;
  }

  .modal-close-wrapper {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    @include animation(all, $animationTime);
    position: absolute;
    right: -50px;
    top: 40%;
    @include transform(translateY(-50%));

    > .btn {
      margin-top: 36px;
      width: 50px;
      height: 50px;
      padding: 0;
      border-radius: 100%;
      line-height: 50px;
      background: $color-main;
      color: #fff;
      margin: 0;
      @include animation(all, $animationTime);
      @include hover-focus {
        background: $color-sec;
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar.navbar-custom {
    .navbar-toggle {
      margin-left: 30px;
      margin-right: 0;
      p {
        display: none;
      }
    }

    .nav.navbar-right {
      .btn {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 860px) {
  body.modalIsOpen {
    .navbar.navbar-custom,
    .navbar.navbar-custom.affix {
      .navbar-header {
        height: 65px;
        margin: 0;
        padding: 8px;

        .navbar-brand {
          height: 65px;

          .brand-img {
            height: 67px;
            margin-top: 7px;
          }
        }

        .modal-close-wrapper {
          right: -2px!important;

          .btn {
            height: 40px;
            width: 40px;
            line-height: 40px;
          }
        }

        .transform-group {
          width: 100%;
          left: 0;

          > .valign {
            position: absolute;
            right: 30px;
            top: 50%;
            @include transform(translateY(-50%));
          }
        }

        .modal-close-wrapper {
          right: -8px;
        }
      }
    }
  }

  .navbar.navbar-custom {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    border: none;
    padding-top: 12px;

    .navbar-header {
      margin: 0;
      padding: 8px 15px;
      height: 80px;
      position: relative;

      .navbar-brand {
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        top: 0px;
        height: 85px;
        width: 65px;

        .brand-img {
          height: 75px;
        }
      }

      .transform-group {
        width: 100%;
        left: 0;

        > .valign {
          position: absolute;
          right: 30px;
          top: 50%;
          @include transform(translateY(-50%));
        }
      }
    }

    .navbar-toggle {
      margin-right: 10px;
    }

    .nav.navbar-right {
      display: none;
    }

    .modal-close-wrapper {
      > a {
        height: 35px;
        width: 35px;
        line-height: 35px;
        margin-top: 2px;
      }
    }

    &.affix {
      .navbar-header {
        height: 65px;
        margin: 0;
        padding: 8px 15px;

        .navbar-brand {
          height: 65px;
          width: 140px;

          .brand-img {
            height: 67px;
            margin-top: 7px;
          }
        }

        .transform-group {
          left: 0;
        }
      }
    }
  }
}


@media (min-width: 861px) {
  .navbar.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .navbar-header {
      position: relative;
      overflow: hidden;
    }

    .navbar-brand {
      margin-right: 30px;
    }
  }
}


#navigationModal {
  .modal-content {
    height: 100%;
    padding: 100px 20px 20px 20px;
  }

  .modal-body {
    width: 100%;
    height: 100%;
  }

  .main-navigation {
    width: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    @include transform(translate(-50%,-50%));
    //margin-left: -15%;
    .navbar {
      text-align: left;
      display: inline-block;
      margin-left: 40%;

      @media (max-width: 860px) {
        margin-left: 10%;
      }

      > li {
        width: 100%;
        opacity: 0;
        @include animation(all, $animationTime);
        margin-left: -40px;

        &.loaded {
          opacity: 1;
          margin-left: 0;
        }
      }

      a {
        font-size: 22px;
        padding: 14px 10px;
        display: inline-block;

        @include hover-focus {
          background: none;
          margin-left: 20px;
        }
      }
    }
  }
}

.affix-top,
.affix{
  position: static;

}

.sidebar-affixed.affix-top {
  position: static;
}

.sidebar-affixed.affix-bottom {
  position: relative;
}

.sidebar-affixed.affix {
  position: fixed;
  top:100px;
}
