#home {
   padding-top: 0;
   position: relative;
   z-index: 1;
   padding-bottom: 0;
   .container-fluid {
     overflow: hidden;
     padding-bottom: 40px;

     @media (max-width: 767px) {
       padding-bottom: 0;
     }
   }

   .hero-wrapper {
     position: relative;
   }

   .hero-text-wrapper {
     padding: 260px 0px 80px 0px;
     position: relative;
     z-index: 2;

     @media (max-width: 767px) {
       padding: 260px 0px 0px 0px;
     }

     @media (max-width: 991px) {
       max-width: 420px;
     }
   }

   .hero-animation {
     position: static;
   }

   .list-inline {
     > li + li {
       margin-top: 10px;
     }
   }
 }

#solutions {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
  padding-top: 0;
  background: #fff;

  @media (min-width: 768px) {
    .container-fluid {
      display: table;
      padding-right: 0;
      padding-left: 0;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 0;
  }

  .card-image-background-wrapper {
    margin-right: -30px;
    margin-left: -30px;

    .card {
      .card-content-wrapper {
        position: static;
      }

      .card-tb {
        margin-bottom: 100px;
      }

      .btn-white {
        position: absolute;
        bottom: 90px;
        left: 45px;
      }
    }
  }
}

#news {
  .container-fluid {
    overflow-y: hidden;
  }

  #swiper-news {
    margin-top: 40px;

    .swiper-slide {
      width: 200px;
    }
    .card-news {
      height: 360px;
      display: block;

      .card-text {
        height: 190px;
        //overflow: hidden;
      }
    }

  }
}

#newsModal {
  #swiper-news-modal {
    .swiper-slide {
      width: 200px;
    }
    .card-news {
      height: 360px;
      display: block;

      .card-text {
        height: 190px;
        //overflow: hidden;
      }
    }
  }
}

#clients {
  .logos-list {
    text-align: center;
    > li {
      width: 180px;
      padding: 10px;
      box-sizing: border-box;

      @media (max-width: 767px) {
        width: 140px;
      }

      > a {
        > img {
          @include animation(all, $animationTime);
          filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
          filter: gray; /* IE6-9 */
          -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
          opacity: 0.45;
        }

        @include hover-focus {
          > img {
            filter: none;
            filter: none;
            -webkit-filter: none;
            opacity: 1;
          }
        }
      }
    }
  }
}

#contacts {
  .form-wrapper {
    width: 70%;
    margin: auto;

    @media (max-width: 767px) {
      width: 100%;
    }

    .form-underlined-inputs {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

#contacts-map {
  position: relative;

  #toNavigation {
    display: none;
  }

  @media (max-width: 767px) {
    #map {
      top: 0px;
    }

    #toNavigation {
      display: inline-block;
      position: absolute;
      bottom: 36px;
      left: 50%;
      @include transform(translateX(-50%));
    }
  }

  .main-wrapper {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 50px;
    width: 100%;

    .mt-40 {
      margin-top: 26px !important;
    }

    @media (max-width: 767px) {

      .row-inlined {
        .col-inline {
          width: 100%;

          .tb-iconned {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .tb-phone {
    a + a {
      padding-left: 4px;
    }
  }
}

#main-slider {
  .gallery-row {
    margin-left: -35px;
    margin-right: -35px;

    @media(max-width: 767px) {
      > div {
        padding-bottom: 0px!important;
      }
    }
    > div {
      padding: 20px;

      .gallery-img {
        height: 250px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  @media (max-width: 767px) {
    #moreGallery {
      margin-top: 40px;
    }
  }
}

#requisites {
  padding: 40px 20px 40px 20px;

  .tb {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #8d8d8d;

    &.pseudo-list {
      margin-bottom: 0;

      > p {
        margin-bottom: 0;
      }
    }
  }
}

#moreGallery {
  margin-top: 20px;
}

.moreImg{
  display: none;
}